name: ci

on:
  pull_request:
    branches: [main]

jobs:
  style:
    name: Style
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up GO
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"
      - name: tester
        run: go test ./...
      
      - name: test -z
        run: test -z $(go fmt ./...)

      - name: go fmt
        run: go gmt

      - name: Force SUCCESS
        run: (exit 0)

